body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
    font-family: sans-serif;
}

/* PADDING LEFT RIGHT ALL PAGE */

.allpage-padding{
    padding-left: 20%;
    padding-right: 20%;
}


/* COLOR CORRECTION */

.top-title{
    color: #F9FAF8;
}

.header, .presentation, .footer{
    background-color: #1F2937;
}

.informationtitle, .quotebox{
    color: #1F2937;
}

.signbox, button{
    background-color: #3882F6;
    color: white;
}

.quotebox{
    background-color: #E5E7EB;
}

.second-text, a{
    color: #E5E7EB;
}

.second-text{
    font-size: 18px;
}

.copywright{
    color: white;
}

/* SIZE FONT */

.header-title{
    font-size: 24px;
    font-weight: bold;
}

.presentation-title{
    font-size: 48px;
    font-weight: 800;
}



/* HEADER PART */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    flex-shrink: 0;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
}

a{
    text-decoration: none;
}

/* MIDDLEBOX PART */

.middlebox{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presentation{
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    gap: 100px;
    align-items: center;
    flex: auto;
}

.informations{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 100px;
}

.informationtitle{
    align-self: center;
    font-size: 36px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 48px;
}



.cardbox{
    display: flex;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    flex: auto;
}

.card img{
    border-radius: 10px;
    border: black 1px solid;
}

.quotebox{
    padding: 4% 26%;
}

.quotetext{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    text-align: justify;
}

.quoteauthor{
    text-align: end;
    font-size: 26px;
    font-weight: 800;
}

/* FOOTER PART */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    flex-shrink: 0;
}

.copywright{
   font-size: 12px; 
} 


/* BUTTON FIX */

button{
    padding: 6px 22px;
    border-radius: 6px;
    border: 0;
    font-weight: 800;
}

.endbutton{
    border: 2px solid white;
}