body{
    display: flex;
    flex-direction: column;
}

.top-title{
    color: #F9FAF8;
}

.header, .presentation, .footer{
    background-color: #1F2937;
}

.informationtitle, .quotebox{
    color: #1F2937;
}

.signbox, .signbutton{
    background-color: #3882F6;
    color: white;
}

.quotebox{
    background-color: #E5E7EB;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.right-link{

}

